@media (max-width: 700px) {
    header.page-header {
        width: 100% !important;
    }
    .slider .image {
        height: initial!important;
        display: none;
    }
    .slider .image img {
        width: 100%!important;
        height: initial!important;
        display: none;
    }
    .slider .data {
        width: 100%!important;
        top: 0px;
        position: initial!important;
    }
    #slider-main {
        height: initial!important;
        width: 100%;
        min-height: 150px;
    }
    .slider .arrow {
        top: 50px!important;
    }
}