$font: 'Noto Sans', sans-serif
$radius: 10px
$radius-inner: 6px
$cta: #fba600
$cta-light: #fad000
$nav: #007dc6
$nav-light: #009cf2
$font-nav: white
$border: 4px solid $nav-light
$gray: #eeeeee


.main-color
  color: #2780e3

body
  margin: 0
  font-family: $font

.span9
  width: calc(100% / 4 * 3)

.span3
  width: calc(100% / 4)

input[type="number"]
  max-width: 100px

body
  //margin-bottom: 50px!important
  background-color: white

footer
  //position: fixed
  margin-top: 20px
  height: 30px
  background-color: black
  background-image: url('../images/pattern_dark.png')
  bottom: 0px
  left: 0px
  right: 0px
  margin-bottom: 0px

#top
  color: #ffffff
  //background-color: black
  background-image: url('../images/pattern_dark.png')
  #info
    float: left
    padding: 10px 0
    padding-left: 10px
    span
      margin-right: 5px
  #account
    span
      margin-left: 5px
      cursor: pointer
    float: right

#top-message
  position: fixed
  top: 0px
  z-index: 100

header
  width: 100%
  height: 75px
  background-color: $nav
  padding: 10px
  color: $font-nav

  #logo
    height: 50px
    float: left
    width: 200px

  #meta
    height: 50px
    width: 315px
    float: right

  #main
    float: left
    width: calc(100% - 560px)
    #search-main
      //border-radius: $radius
      border: $border
      #submit-box
        //border-radius: 0 $radius-inner $radius-inner 0
        background-color: $nav
        text-align: center
        float: right
        width: 50px
      #submit
        margin: 3px auto 0 auto
        cursor: pointer
        width: 35px
        height: 35px
        font-size: 30px
      #search
        border: none
        //border-radius: $radius-inner 0 0 $radius-inner
        float: left
        width: calc(100% - 50px)
        display: inline-block
        padding: 10px
        color: black

.sidebar-right
  margin-top: 20px

.sidebar-left
  float: left
  margin-top: 5px
  .widget
    margin-left: 20px
    h3
      font-weight: normal
      font-size: 20px
      margin-bottom: 20px
    ul
      list-style: none

.widget
  .body
    padding: 10px
    background-color: white
    div
      margin: 10px 0

#content
  width: 100%
  margin: 0 auto
  background-color: white

nav
  .nav-dropdown
    max-height: 400px
    overflow: auto
    overflow-x: hidden
    li
      a
        font-size: 12px
  //  display: block
  background-color: none
  ul
    list-style: none
    padding: 0px 0px
    margin: 0
    li:hover
      color: $nav-light
    li
      //margin-right: 2px
      padding: 5px 10px
      //background-color: #eeeeee
      background-color: white
      color: $nav
      cursor: pointer
      display: inline-block
      a
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase
        font-size: 14px

.widget.sidebar
  h3
    padding-bottom: 8px
    border-bottom: 1px solid #E0DFDF
    border-color: #e0dfdf
    font-size: 18px
    font-family: $font
    color: #373736
    font-style: normal
    font-weight: 400

h1.page-title
  font-size: 25px
  font-weight: normal

#promo-more
  cursor: pointer
  margin-left: 5px

#content-shop
  float: left

//lista produktów
.button
  border-radius: $radius
  border: $border
  border-color: $cta-light
  padding: 10px
  cursor: pointer
  display: inline-block
  margin: 0 auto
  letter-spacing: 1px
  font-weight: bold
  color: whitesmoke

.add-to-cart
  background-color: $cta

#product-categories
  .thick-box
    float: left

#product-filter
  position: fixed
  bottom: 50px
  left: 10px

.thick-box
  margin-right: 10px
  width: 24px
  height: 24px
  padding: 5px
  background-color: #ffffff
  border: 1px solid $gray
  cursor: pointer

.filter-active
  color: green

#products
  .product-list
    .product-data
      width: calc(100% - 100px)
      margin-left: 10px
  .product-grid
    padding: 10px
    .product-container
      padding: 10px
      width: 100%
      background-color: white
      display: inline-block
      .product-data
        h4
          font-size: 14px
        margin: auto
        text-align: center

#mini-cart
  #cart-controls
    float: right
    margin-top: 5px
    margin-left: 20px
  #cart-icon
    float: right
    margin-right: 10px
    font-size: 24px
    padding: 10px
    border-radius: $radius
  #details
    float: right
    #total
      margin-top: 5px
      padding-top: 5px
      border-top: 1px dashed white

.remove-from-cart
  cursor: pointer

.modal-dialog
  z-index: 1000
  position: absolute !important

.window
  border-radius: $radius
  position: absolute
  z-index: 1000
  border: $border
  border-color: $nav-light
  background-color: white
  .title
    padding: 10px
    color: white
    background-color: $nav
    border-radius: $radius-inner $radius-inner 0 0
  .close
    float: right
    font-weight: bold
    cursor: pointer
  .body
    padding: 10px

.single-product-image
  width: 150px

.single-product-next-to-image
  width: calc(100% - 170px)
  margin-left: 10px

.single-product-buttons
  margin: 10px 0
  input, button
    margin-right: 10px

.product-image
  width: 80px
  height: 150px
  img
    margin: 0 auto

#checkout
  margin: 0 auto
  .checkout-nav
    margin-top: 10px
  #checkout-order
    padding: 10px
    margin: 10px 0 20px 0
  #checkout-control
    div
      margin-bottom: 10px
      padding: 10px 15px
      text-align: center
      border: 1px solid $gray
  #checkout-3
    .border
      border: 1px solid #999999
      border-radius: $radius
      padding: 10px
      margin: 10px

#myAccount
  div.tab-content
    margin-top: 10px
  .order-details
    td
      border: none

ul.errorlist
  display: inline-block
  color: #ff0000
  list-style: none
  padding-left: 0px

.product-price
  font-weight: bold
  font-size: 14px

.margin-top10
  margin-top: 10px

.margin-top20
  margin-top: 20px

.margin-bottom20
  margin-bottom: 20px

ul.breadcrumbs
  list-style: none
  margin-left: -25px
  li
    display: inline-block
    margin-right: 5px

.gray
  padding: 10px 0
  background: #eeeeee
  background-image: url('../images/pattern_light.png')
  color: black
  box-shadow: 0 1px 2px rgba(0,0,0,.05)
  border: 2px solid #ddd
  border-left: none
  border-right: none

.product-dec
  margin-top: -21px

#view-as
  span
    font-size: 24px
    cursor: pointer

#banner-fade
  margin: 0 auto

.service-title
  span
    font-size: 32px
    color: $nav
.service-body
  p
    text-align: justify

.slider
  height: 363px
  div
    display: block
  .title
    position: relative
  .image
    display: inline-block
  .buttons
    padding-top: 20px
    position: relative
  .text
    position: relative
  .data
    position: relative
    text-align: justify
    margin-right: 20px
    display: inline-block
    width: 500px
    vertical-align: middle
  .arrow
    width: 40px
    cursor: pointer
    position: relative
    top: 150px
    span
      font-size: 24px
    span:hover
      color: $nav-light

  .slide
    list-style: none
    width: calc(100% - 80px)
    height: 100%

//.item-price
//  display: inline-block!important
//  border-radius: 5px
//  font-size: 13px
//  font-weight: bold
//  background: $nav
//  color: #fff
//  padding: 5px 10px
//  text-align: center

.item-price
  display: inline-block
  font-size: 24px
  font-weight: bold
  color: $nav

.currency
  color: $nav
  font-size: 12px
  font-weight: bold

.login-error
  color: red

button.close
  color: black
button.close:hover
  color: black

.search-result
  .panel-title
    margin-left: 15px

.tooltip-inner
  width: 400px