.main-color {
  color: #2780e3; }

.page-container {
  background-color: white;
  padding: 0 !important; }

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #dddddd !important;
  background-image: url("../images/pattern_back.png");
  background-repeat: repeat; }

.span9 {
  width: calc(100% / 4 * 3); }

.span3 {
  width: calc(100% / 4); }

input[type="number"] {
  max-width: 100px; }

body {
  background-color: white; }

footer {
  margin-top: 20px;
  background-color: black;
  background-image: url("../images/pattern_dark.png");
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 15px;
  padding-bottom: 0px; }

#top {
  color: #ffffff;
  background-image: url("../images/pattern_dark.png"); }
  #top #info {
    float: left;
    padding: 10px 0;
    padding-left: 10px; }
    #top #info span {
      margin-right: 5px; }
  #top #account {
    float: right; }
    #top #account span {
      margin-left: 5px;
      cursor: pointer; }

#top-message {
  position: fixed;
  top: 0px;
  z-index: 100; }

header {
  width: 100%;
  height: 75px;
  background-color: #007dc6;
  padding: 10px;
  color: white; }
  header #logo {
    height: 100%;
    float: left;
    width: 220px;
    background-image: url("../images/logo.png");
    background-size: cover;
    margin-right: 20px;
    cursor: pointer; }
  header #meta {
    height: 50px;
    width: 350px;
    float: right; }
  header #main {
    float: left;
    width: calc(100% - 590px); }
    header #main #search-main {
      border: 4px solid #009cf2; }
      header #main #search-main #submit-box {
        background-color: #007dc6;
        text-align: center;
        float: right;
        width: 50px; }
      header #main #search-main #submit {
        margin: 3px auto 0 auto;
        cursor: pointer;
        width: 35px;
        height: 35px;
        font-size: 30px; }
      header #main #search-main #search {
        border: none;
        float: left;
        width: calc(100% - 50px);
        display: inline-block;
        padding: 10px;
        color: black; }

.sidebar-right {
  margin-top: 20px; }

.sidebar-left {
  float: left;
  margin-top: 5px; }
  .sidebar-left .widget {
    margin-left: 20px; }
    .sidebar-left .widget h3 {
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 20px; }
    .sidebar-left .widget ul {
      list-style: none; }

.widget ul.list-group {
  overflow-y: auto;
  max-height: 500px; }
.widget .body {
  padding: 10px;
  background-color: white; }
  .widget .body div {
    margin: 10px 0; }

#content {
  width: 100%;
  margin: 0 auto;
  background-color: white; }

nav {
  background-color: none; }
  nav .nav-dropdown {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden; }
    nav .nav-dropdown li a {
      font-size: 12px; }
  nav ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0; }
    nav ul li:hover {
      color: #009cf2; }
    nav ul li {
      padding: 5px 10px;
      background-color: white;
      color: #007dc6;
      cursor: pointer;
      display: inline-block; }
      nav ul li a {
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px; }

.widget.sidebar h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid #E0DFDF;
  border-color: #e0dfdf;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #373736;
  font-style: normal;
  font-weight: 400; }

h1.page-title {
  font-size: 25px;
  font-weight: normal; }

#promo-more {
  cursor: pointer;
  margin-left: 5px; }

#content-shop {
  float: left; }

.button {
  border-radius: 10px;
  border: 4px solid #009cf2;
  border-color: #fad000;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 1px;
  font-weight: bold;
  color: whitesmoke; }

.add-to-cart {
  background-color: #fba600; }

#product-categories .thick-box {
  float: left; }

#product-filter {
  margin-top: 20px; }

.product-filter .thick-box {
  float: left; }

.thick-box {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer; }

.filter-active {
  color: green; }

#products .product-list .product-data {
  width: calc(100% - 100px);
  margin-left: 10px; }
#products .product-grid {
  padding: 10px; }
  #products .product-grid .product-container {
    padding: 10px;
    width: 100%;
    background-color: white;
    display: inline-block; }
    #products .product-grid .product-container .product-data {
      margin: auto;
      text-align: center; }
      #products .product-grid .product-container .product-data h4 {
        font-size: 14px;
        height: 20px; }

#mini-cart #cart-controls {
  float: right;
  margin-top: 5px;
  margin-left: 20px; }
#mini-cart #cart-icon {
  float: right;
  margin-right: 10px;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px; }
#mini-cart #details {
  float: right; }
  #mini-cart #details #total {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dashed white; }

.remove-from-cart {
  cursor: pointer; }

.modal-dialog {
  z-index: 1000;
  position: absolute !important; }

.window {
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  border: 4px solid #009cf2;
  border-color: #009cf2;
  background-color: white; }
  .window .title {
    padding: 10px;
    color: white;
    background-color: #007dc6;
    border-radius: 6px 6px 0 0; }
  .window .close {
    float: right;
    font-weight: bold;
    cursor: pointer; }
  .window .body {
    padding: 10px; }

.single-product-image {
  width: 150px; }

.single-product-next-to-image {
  width: calc(100% - 170px);
  margin-left: 10px; }

.single-product-buttons {
  margin: 10px 0; }
  .single-product-buttons input, .single-product-buttons button {
    margin-right: 10px; }

.product-image {
  width: 80px;
  height: 150px; }
  .product-image img {
    margin: 0 auto; }

#checkout {
  margin: 0 auto; }
  #checkout .checkout-nav {
    margin-top: 10px; }
  #checkout #checkout-order {
    padding: 10px;
    margin: 10px 0 20px 0; }
  #checkout #checkout-control .inactive {
    cursor: inherit;
    color: gray; }
  #checkout #checkout-control div {
    margin-bottom: 10px;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #eeeeee;
    cursor: pointer; }
  #checkout #checkout-3 .border {
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }

#myAccount div.tab-content {
  margin-top: 10px; }
#myAccount .order-details td {
  border: none; }

ul.errorlist {
  display: inline-block;
  color: #ff0000;
  list-style: none;
  padding-left: 0px; }

.product-price {
  font-weight: bold;
  font-size: 14px; }

.margin-top10 {
  margin-top: 10px; }

.margin-top20 {
  margin-top: 20px; }

.margin-bottom20 {
  margin-bottom: 20px; }

ul.breadcrumbs {
  list-style: none;
  margin-left: -25px; }
  ul.breadcrumbs li {
    display: inline-block;
    margin-right: 5px; }

.gray {
  padding: 10px 0;
  background: #eeeeee;
  background-image: url("../images/pattern_light.png");
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid #ddd;
  border-left: none;
  border-right: none; }

.product-dec {
  margin-top: -21px; }

#view-as span {
  font-size: 24px;
  cursor: pointer; }

#banner-fade {
  margin: 0 auto; }

.service-title span {
  font-size: 32px;
  color: #007dc6; }

.service-body p {
  text-align: justify; }

.slider {
  height: 320px; }
  .slider div {
    display: block; }
  .slider .title {
    position: relative; }
  .slider .image {
    display: inline-block; }
  .slider .buttons {
    padding-top: 20px;
    position: relative; }
  .slider .text {
    position: relative; }
  .slider .data {
    position: relative;
    text-align: justify;
    margin-right: 20px;
    display: inline-block;
    width: 500px;
    vertical-align: middle; }
  .slider .arrow {
    width: 40px;
    cursor: pointer;
    position: relative;
    top: 150px; }
    .slider .arrow span {
      font-size: 24px; }
    .slider .arrow span:hover {
      color: #009cf2; }
  .slider .slide {
    list-style: none;
    width: calc(100% - 80px);
    height: 100%;
    padding-left: 0; }
    .slider .slide li {
      height: 100%; }

.item-price {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #007dc6; }

.currency {
  color: #007dc6;
  font-size: 12px;
  font-weight: bold; }

.login-error {
  color: red; }

button.close {
  color: black; }

button.close:hover {
  color: black; }

.search-result .panel-title {
  margin-left: 15px; }

.tooltip-inner {
  width: 400px; }

.variations-table {
  height: 70px; }
  .variations-table label {
    margin-right: 10px; }

#no-products {
  text-align: center; }

#decorative-message {
  position: fixed;
  top: 200px;
  right: 50px;
  min-height: 50px;
  opacity: 0;
  z-index: 10;
  border: 1px solid #DDD;
  background-color: white;
  width: 350px; }
  #decorative-message .icon {
    padding: 12px;
    font-size: 24px;
    position: relative;
    top: -1px;
    min-height: 50px;
    background-color: #007dc6;
    color: white;
    float: left;
    width: 50px; }
  #decorative-message .message {
    float: left;
    margin: 0 auto;
    margin-top: 14px;
    width: 248px;
    text-align: center; }

.product-tab-item {
  cursor: pointer; }

.product-tab-item:hover {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888; }

.promo-div {
  cursor: pointer;
  padding: 2px;
  background-color: #eee; }
  .promo-div .border-middle {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    padding: 5px; }
    .promo-div .border-middle .border-in {
      padding: 2px;
      background-color: #eee; }
      .promo-div .border-middle .border-in .promo-body {
        background-color: #007dc6;
        color: #ffffff;
        padding: 10px;
        min-height: 84px; }
        .promo-div .border-middle .border-in .promo-body img {
          margin: 0 auto; }
        .promo-div .border-middle .border-in .promo-body .promo-icon {
          font-size: 32px;
          display: inline;
          margin-right: 15px;
          vertical-align: middle; }
        .promo-div .border-middle .border-in .promo-body .promo-text {
          font-size: 18px;
          display: inline;
          text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3); }

#newsletter {
  margin: -15px -15px 0 0; }

#footer-bottom {
  background-color: black;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-top: 8px; }

#mask {
  opacity: 0.6;
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: #eeeeee; }

.container-fluid {
  position: relative;
  z-index: 1; }

.margin-left {
  margin-left: 10px !important; }

.slider .slider-horizontal {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
