{% extends 'admin/change_form.html' %}
{% load tags %}

{% block after_field_sets %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
 {% if object_id %}
     <div style="margin-bottom:5px;">
        {% cartItems orderId=object_id noButtons=True %}
     </div>
 {% endif %}
    <script>
        $('#resend-mail').click(function(){
            var me = this;
            $.get('/admin/resend_order', {'id':$(me).attr('data-id')}).success(function(){
               alert('Wiadomość przesłana poprawnie');
            });
        });
    </script>
    <style>
        .admin-button{
            cursor: pointer;
            font-weight: bold;
         }
    </style>
{% endblock %}