<html>
    <head>
        <style>
            #content{
                width:100%
                text-align: center
            }
            #container{
                width: 600px
                margin: 0 auto;
            }
            #logo {
                background-image: url('')
                width:100px
                height:50px
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="content">
                <div id="logo">
                </div>
                <div id="message">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>