{% extends 'mail/base.html' %}
{% load tags %}
{% load i18n %}

{% block title %}
    <h1>Nowe zamówienie</h1>
{% endblock %}

{% block content %}
    <div>
        <p>Zostało złożone nowe zamówienie o numerze: <strong>{{ order.number }}</strong></p>
    </div>
    <div>
        <p>Podsumowanie zamówienia:</p>
    </div>
    {% cartItems noButtons="1" order=order %}
    {% order_info order=order %}
    {% if order.shippingMethod.needsShipping %}
        {% addresses order=order %}
    {% endif %}

{% endblock %}
