<div class="col-md-4">
    <h4>Metoda odbioru</h4>
    <p class="bg-warning" id="no-shipping" style="display:none">
        Proszę wybrać metodę odbioru
    </p>
    <form id="shipping-method" role="form">
    {{#shippingMethods}}
        <div class="radio">
            <label><input type="radio" name="shippingMethod" value="{{ id }}"/>
                {{ name }}
                <strong>({{> price price }})</strong></label>
        </div>
    {{/shippingMethods}}
    </form>
</div>
<div class="col-md-4">
    <h4>Metoda płatności</h4>
    <p class="bg-warning" id="no-payment" style="display:none">
        Proszę wybrać metodę płatności
    </p>
    <form id="payment-method" role="form">
    {{#paymentMethods}}
        <div class="radio">
            <label>
                <input type="radio" name="paymentMethod" value="{{ id }}"/>
                {{ name }}
                {{#if description }}
                    <span class="glyphicon glyphicon-info-sign"
                          data-toggle="tooltip" data-placement="top" title="{{description}}"></span>
                {{/if}}
                <strong>({{> price price}})</strong>
            </label>
        </div>
    {{/paymentMethods}}
    </form>
</div>
<div class="col-md-4">
    <h4>Podsumowanie</h4>

    <div>Cena produktów:<span class="pull-right">
        <strong>{{  totals.products }}</strong></span></div>
    <div>Wysyłka: <span class="pull-right"><strong>
        {{ totals.shipping }}</strong></span></div>
    {{#totals.discount}}
        <div>Zniżka: <span class="pull-right"><strong>
            {{ . }}</strong></span></div>
    {{/totals.discount}}
    <div>W sumie: <span class="pull-right">
        <strong>{{ totals.total }}</strong></span></div>
</div>
