<div id="mini-cart">
     <div class="btn-group" role="group" id="cart-controls">
        <button id="checkout" type="button" class="btn btn-primary">{{#_}}Checkout{{/_}}</button>
        <button id="cart" type="button" class="btn btn-default">{{#_}}Cart{{/_}}</button>
     </div>
    <div id="details">
        <div id="items-count">{{#_}}Products{{/_}}:{{ count }}</div>
        <div id="total">{{#_}}Total{{/_}}:{{ total }}</div>
    </div>
    <div id="cart-icon">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </div>
</div>
