    <div class="panel panel-default product-container">
        <div class="panel-body">
        <div class="product-image pull-left" style="background-image:url('{{ product.image }}'); background-size:cover;
                margin: auto;">
        </div>
        <div class="product-data pull-left">
            <div class="product-description">
                <div class="pull-left col-md-9">
                    <h4><a href="/sklep/produkt/{{product.name}}/">{{ product.name }}</a></h4>
                    {{ product.shortDescription }}
                </div>
            </div>
            <div class="pull-right col-md-3">
                {{> variations}}
            </div>
        </div>
    </div>
    </div>
    <div class="product-dec" style="">
        <canvas height="20"></canvas>
    </div>

