<div class="panel panel-default product-container">
    <div class="panel-body">
        <div class="product-image" style="background-image:url('{{ product.image }}'); background-size:cover;
                margin: auto;">
        </div>
        <div class="product-data">
            <h4><a href="/shop/product/{{product.name}}/">{{ product.name }}</a></h4>

            <!--{{{ product.shortDescription }}}-->


           {{> variations }}

        </div>
    </div>
</div>
<div class="product-dec">
    <canvas height="20"></canvas>
</div>

