{{#each product.variations }}
    <div class="product-price">
        <span class="currency">pln</span>
        <span class="item-price">
            {{#each .}}{{#if @first}}{{#each .}}{{#if @first}}{{price}}-{{/if}}{{/each}}{{/if}}{{/each}}
        </span>
    </div>
    <div class="input-group form-inline variations-table">
        <div class="form-group">
            <label>{{@key}}</label>
        </div>
        <div class="input-group">
            {{#if ../product.hasManyVariations }}
                <select data-product="{{../product.id}}" class="form-control pull-right">
                    {{#each . }}
                        <option value="{{#each .}}{{id}} {{/each}}">
                            {{@key}}
                        </option>
                    {{/each}}
                </select>
            {{else}}
                <span>{{#each . }}{{@key}}{{/each}}</span>
            {{/if}}
        </div>
    </div>
{{/each}}

<div>
    <button class="btn btn-primary add-to-cart variable"
            data-variation="{{#each product.variations }}{{#each .}}{{#each .}}{{id}}{{/each}}{{/each}}{{/each}}"
            style="margin-top:20px;">
        {{ addToCart }}
    </button>
</div>
