{{#each product.attributes }}
    {{#displayProductAtt group}}
        <div class="form-group" style="margin-bottom:0px;">
            <label>{{group}}</label>
            <span>{{name}}</span>
        </div>
    {{/displayProductAtt}}
{{/each}}
<div class="variations-details" data-product="{{product.id}}">
    {{#if product.hasManyVariations}}
        <div class="price-from">
            <span class="currency">od</span>
            <span class="item-price">
                {{ product.min_price }}
            </span>
            <span class="currency">zł</span>
        </div>
    {{/if}}
    {{#each product.variations }}
        <div {{#if ../product.hasManyVariations }}style="display:none;"{{/if}}
                class="variation-details" data-variation="{{id}}">
            <span class="item-price">
                {{ price }}
            </span>
            <span class="currency">zł</span>
        </div>
    {{/each}}
</div>
<div class="input-group form-inline variations-table" data-product="{{ product.id }}">
    <!--{{#each product.grouped_variations }}-->
            <!--<div class="form-group">-->
                <!--<label>{{name}}</label>-->
            <!--</div>-->
            <!--<div class="input-group">-->
                <!--{{#if ../product.hasManyVariations }}-->
                    <!--<select class="form-control pull-right" data-product="{{ ../../product.id }}">-->
                        <!--<option class="default">Wybierz...</option>-->
                        <!--{{#each atts }}-->
                            <!--<option data-variations="{{#each .}}{{id}} {{/each}}" value="{{#each .}}{{id}} {{/each}}">-->
                                <!--{{@key}}-->
                            <!--</option>-->
                        <!--{{/each}}-->
                    <!--</select>-->
                <!--{{else}}-->
                    <!--<span style="position:relative; top:-3px;">{{#each . }}{{@key}}{{/each}}</span>-->
                <!--{{/if}}-->
            <!--</div>-->
    <!--{{/each}}-->
    {{#each product.grouped_variations }}
            <div class="form-group">
                <label>{{@key}}</label>
            </div>
            <div class="input-group">
                {{#if ../product.hasManyVariations }}
                    <select class="form-control pull-right" data-product="{{ ../../product.id }}">
                        <option class="default">Wybierz...</option>
                        {{#each . }}
                            <option data-variations="{{#each .}}{{id}} {{/each}}" value="{{#each .}}{{id}} {{/each}}">
                                {{@key}}
                            </option>
                        {{/each}}
                    </select>
                {{else}}
                    <span style="position:relative; top:-3px;">{{#each . }}{{@key}}{{/each}}</span>
                {{/if}}
            </div>
    {{/each}}
</div>
<div class="variations-buttons">
    {{#if showQuantity}}
        <input style="margin-right:10px;" type="number" aria-valuemin="1" min="1" value="1" id="quantity"
               class="pull-left form-control" />
    {{/if}}
    <button class="btn add-to-cart {{#if product.variations.0.amount}}btn-primary{{else}}disabled btn-default{{/if}}
        {{#if product.hasManyVariations}}variable hidden{{else}}single-var{{/if}}
        {{#if showQuantity}}pull-left{{/if}}" data-product="{{product.id}}"
            style="margin-top:{{#if buttonMargin }}{{buttonMargin}}px{{else}}20px{{/if}};">
        {{#if product.variations.0.amount }}
            {{ addToCart }}
        {{else}}
            Brak w magazynie
        {{/if}}
    </button>
</div>