<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>E-mail klienta</td>
            <td>{{ order.email }}</td>
        </tr>
        <tr>
            <td>telefon klienta</td>
            <td>{{ order.phone }}</td>
        </tr>
    </tbody>
</table>

{% if invoice %}
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    Dane do faktury
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nazwa firmy</td>
                <td>{{ invoice.name }}</td>
            </tr>
            <tr>
                <td>Adres firmy</td>
                <td>{{ invoice.address }}</td>
            </tr>
            <tr>
                <td>NIP firmy</td>
                <td>{{ invoice.NIP }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
