{% load i18n %}
<table style="{% if receiver %} float:left; width:45%; {% endif %}">
    <thead>
        <tr>
            <th colspan="2">{% trans 'Buyer address' %}</th>
        </tr>
    </thead>
    {% for field in buyer %}
        <tr>
            <td>{{ field.help_text }}</td>
            <td>{{ field.value }}</td>
        </tr>
    {% endfor %}
</table>

{% if receiver %}
<table style="float:right; width:45%;">
    <thead>
        <tr>
            <th colspan="2">{% trans 'Receiver address' %}</th>
        </tr>
    </thead>
    {% for field in receiver %}
        <tr>
            <td>{{ field.help_text }}</td>
            <td>{{ field.value }}</td>
        </tr>
    {% endfor %}
</table>
<div style="clear:both;"></div>
{% endif %}
