<footer class="page">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled"><h4>O firmie</h4>
                <li>O najlepszysyntetyk.pl</li>
                <li>Wsparcie klienta</li>
                <li><a href="/Kontakt">Kontakt</a></li>
                <li><a href="/Polityka prywatności">Polityka prywatności</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled"><h4>Aktualności</h4>
                <li><a href="/najnowsze-informacje">Najnowsze informacje</a></li>
                <li>Testy</li>
                <li><a href="/opinie">Opinie</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled"><h4>Informacje techniczne</h4>
                <li>Karty produktów</li>
                <li>MSDS</li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary" id="newsletter">
                <div class="panel-heading">
                    <h4 style="margin-top:13px;">Newsletter</h4>
                    <p>Bądź nabieżąco z nowościami i promocjami</p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="E-mail" id="newsletter-email">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="newsletter-subscribe" type="button">Zapisz się</button>
                      </span>
                    </div>
                    <script>
                        $('#newsletter-subscribe').click(function(){
                            $.post('/newsletter-receiver/', {'email': $('#newsletter-email').val()}).success(function(){
                                shop.showMessage('Adres email zapisany poprawnie','glyphicon-ok');
                            }).fail(function(){
                                shop.showMessage('Wystąpił błąd podczas zapisywania adresu email','glyphicon-remove');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
     </div>
     <div class="row text-center" id="footer-bottom">
         <p>Projekt i wykonanie PHU ISKRA 2015. Wszystkie prawa zastrzeżone</p>
     </div>
</footer>