{% extends 'base_page.html' %}
{% load i18n %}
{% load tags %}
{% load staticfiles %}

{% block header %}{% trans 'My account' %}{% endblock %}
{% block content %}
    {% discount_info %}
    <div role="tabpanel" id="mykonto">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a aria-controls="orders" role="tab" data-toggle="tab" href="#orders">
                    {% trans 'Orders list' %}
                </a>
            </li>
            <li role="presentation">
                <a aria-controls="personal" role="tab" data-toggle="tab"
                   href="#personal">{% trans 'Personal data' %}</a></li>
            <li role="presentation" aria-controls="invoice" role="tab" data-toggle="tab">
                <a aria-controls="invoice" role="tab" data-toggle="tab"
                   href="#invoice">{% trans 'Invoice data' %}</a>
            </li>
            <li role="presentation" aria-controls="shipment" role="tab" data-toggle="tab">
                <a aria-controls="shipment" role="tab" data-toggle="tab"
                   href="#shipment">{% trans 'Shipping addresses' %}</a>
            </li>
        </ul>

        <div class="tab-content row">
            <div role="tabpanel" class="tab-pane active" id="orders">
                <div class='col-md-12'>
                    <table class="table">
                        <thead>
                            <th>{% trans 'Date' %}</th>
                            <th colspan="3">{% trans 'Status' %}</th>
                        </thead>
                        {% for o in orders %}
                            <tr>
                                <td>{{ o.date }}</td>
                                <td>{{ o.status }}</td>
                                <td>
                                    <button order="{{ o.id }}" class="show-details btn btn-default">
                                        {% trans 'See details' %}
                                    </button>
                                </td>
                                <td>
                                    <button cart="{{ o.cart.id }}" class="take-cart btn btn-primary">
                                        {% trans 'Renew' %}
                                    </button>
                                </td>
                            </tr>
                            <tr class="order-details order-{{ o.id }}" style="display:none">
                                <td colspan="4">
                                    {% cartItems noButtons=1 cart=o.cart %}
                                </td>
{#                                <td colspan="4">#}
{#                                    <table class="table">#}
{#                                        {% for cp in o.cart.cartProducts.all %}#}
{#                                            <tr>#}
{#                                                <td>#}
{#                                                    {{ cp.productVariation.product.name }}#}
{#                                                </td>#}
{#                                                <td>#}
{#                                                    {{ cp.quantity }}#}
{#                                                </td>#}
{#                                                <td colspan="2">#}
{#                                                    {{ cp.productVariation.price }}#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{#                                    </table>#}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="personal">
                <div class='col-md-12'>
                     <h2>{% trans 'User data' %}</h2>
                     <form method="POST" action="/konto/">
                        {% csrf_token %}
                        {% for field in userChangeForm %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}{{ field }}
                            </div>
                        {% endfor %}
                        <input type="hidden" value="user" name="type" />
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                            <a href="{% url "password_reset_recover" %}" type="submit"
                               class="btn btn-default  margin-left">{% trans "Password recovery" %}</a>
                        </div>
                    </form>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="invoice">
                <h2>{% trans 'Invoice data' %}</h2>
                    <form method="POST" action="/konto/">
                        {% csrf_token %}
                        {% for field in invoiceForm %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}{{ field }}
                            </div>
                        {% endfor %}
                        <input type="hidden" value="invoice" name="type" />
                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="shipment">
                <div class="checkbox col-md-12">
                    <label>
                        <input type="checkbox" id='addressesTheSame'> {% trans 'Payer address is shipment address' %}
                    </label>
                </div>
                <div class='col-md-6' id="buyer-address">
                    <h2>{% trans 'Buyer address' %}</h2>
                    <form method="POST" action="/konto/">
                        {% csrf_token %}
                        {% for field in payerForm %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}

                            </div>
                        {% endfor %}
                        <input type="hidden" value="payer" name="type" />
                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </form>
                </div>
                <div class='col-md-6' id="shipment-address">
                    <h2>{% trans 'Shipment address' %}</h2>
                    <form method="POST" action="/konto/">
                        {% csrf_token %}
                        {% for field in shipmentForm %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}

                            </div>
                        {% endfor %}
                        <input type="hidden" value="shipment" name="type" />
                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.take-cart').click(function(){
            id = $(this).attr('cart');
            $.post('/takeCart/',{'id':id}, function() {
                $.get('/miniCart', {}, function (res) {
                    $('#mini-cart').html(Mustache.to_html(Mustache.TEMPLATES.miniCart,
                            JSON.parse(res)));
                });
            });
        });
        $('.show-details').click(function(){
            var o = $(this).attr('order');
            var d = $('.order-'+o);
            console.log(d);
            if (d.hasClass('visible')) {
                d.css('display','none');
                d.removeClass('visible');
            }
            else {
                d.css('display','table-row');
                d.addClass('visible');
            }
        });
        $('#addressesTheSame').click(function(){
            console.log('elo');
           if (!$(this).is(':checked'))
            $('#shipment-address').css('display','initial');
           else
            $('#shipment-address').css('display','none');
        });
        $('#mykonto input[type!="checkbox"]').addClass('form-control');
    </script>

{% endblock %}
