{% extends 'base_page.html' %}
{% block header %}
    Aktualności
{% endblock %}
{% block content %}
    {% for p in posts %}
        <div class="post col-md-12">
            <div class="row">
                <h3>{{ p.title }}</h3>
                <h6>Opublikowano: {{ p.created_at|date:"D d M Y" }}</h6>
            </div>
            <div class="row">
                {{ p.body|safe|slice:":255" }}...
            </div>
            <div class="row">
                    <a href="{{ p.url }}/">Czytaj dalej</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}