{% load tags %}
<div style="margin:15px 0 25px 0;">
<ul id="productsTabs" class="nav nav-pills" data-tabs="tabs">
  {% for cat in cats %}
    {% if cat.products.count > 0 %}
      <li {% if cat.first %} class="active" {% endif %}>
        <a  href="#{{cat.id}}" data-toggle="tab">{{ cat.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="tab-content products-tab">
  {% for cat in cats %}
    {% if cat.products.count > 0 %}
      <div class="tab-pane {% if cat.first %} active {% endif %}" id="{{ cat.id }}">
        <div class="slide-left arrow col-md-1"><span class="glyphicon glyphicon-chevron-left"></span></div>
        <div class="products-container col-md-10">
            {% for p in cat.products %}
              <div data-nr="{{ forloop.counter }}" data-product="{{p.product.name}}"
                   class="col-md-{{cat.width}} product-tab-item">
                <h5>{{p.product.name}}</h5>
            <div class="row text-center">
                    <img style="height:100px;" src="{{p.product.getMainImage}}" />
                </div>
            <div class="row text-center">
                <span class="item-price"><span class="currency">od</span>
                    {{p.get_min_price|currency:False}}</span>
                <span class="currency">zł</span>
            </div>
              </div>
            {% endfor %}
        </div>
        <div class="slide-right arrow col-md-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
<div style="clear:both"></div>
</div>

<script>
    $('.product-tab-item').click(function(){
        window.location = '/sklep/produkt/' + $(this).attr('data-product') + '/';
    });
    $('.products-tab .tab-pane').productSlider();
</script>
