{% extends 'base_page.html' %}
{% load i18n %}

{% block header %}
{% trans 'Search' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            {% if count == 0 %}
                <div>
                    {% trans 'No matches found' %}
                </div>
            {% endif %}
            {% for r in results %}
                {% autoescape off %}
                    <div class="panel panel-default text-left search-result">
                        <div class="panel-title">
                            {{ r.title }}
                        </div>
                        <div class="panel-body">
                            {%if r.image.url %}
                                <img src="{{ r.image.url }}" />
                            {% endif %}
                            <div>
                                {{ r.except|truncatewords:50 }}
                            </div>
                            <div>
                                <a href="{{ r.link }}">{% trans 'Read more' %}</a>
                            </div>
                        </div>
                    </div>
                {% endautoescape %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
