
<div class="btn-group" role="group" id='sorter' aria-label="...">
  <button type="button" data-sort="name" class="btn btn-default btn-primary btn-sm">Nazwa</button>
  <button type="button" data-sort="price" class="btn btn-default btn-sm">Cena</button>
  <button type="button" data-sort="added_date" class="btn btn-default btn-sm">Data dodanie</button>
</div>

<script>
  $('#sorter button').click(function(){
    $('#sorter button').removeClass('btn-primary');
    $('#sorter button').removeClass('btn-default');
    $('#sorter button').addClass('btn-default');
    $(this).addClass('btn-primary');
    shop.filters.sortBy = $(this).attr('data-sort');
  });
</script>

