
<div class="btn-group" role="group" id='sorter' aria-label="...">
  <button type="button" data-sort="name" class="btn btn-default btn-primary btn-sm">Nazwa</button>
  <button type="button" data-sort="price_in" class="btn btn-default btn-sm">Cena</button>
  <button type="button" data-sort="added_date" class="btn btn-default btn-sm">Data</button>
</div>
<div class="btn-group" style="margin-top:10px;" role="group" id='sorter-order' aria-label="...">
  <button type="button" data-sort="" class="btn btn-default btn-primary btn-sm">Rosnąco</button>
  <button type="button" data-sort="-" class="btn btn-default btn-sm">Malejąco</button>
</div>

<script>
  $('#sorter button').click(function(){
    $('#sorter button').removeClass('btn-primary');
    $('#sorter button').removeClass('btn-default');
    $('#sorter button').addClass('btn-default');
    $(this).addClass('btn-primary');
    if (shop.filters.sortBy[1] == '-')
      shop.filters.sortBy = '-' + $(this).attr('data-sort');
    else
      shop.filters.sortBy = $(this).attr('data-sort');
  });
  $('#sorter-order button').click(function(){
    $('#sorter-order button').removeClass('btn-primary');
    $('#sorter-order button').removeClass('btn-default');
    $('#sorter-order button').addClass('btn-default');
    $(this).addClass('btn-primary');
    $(this).removeClass('btn-default');
    shop.filters.sortBy = $(this).attr('data-sort') + shop.filters.sortBy;
    if (shop.filters.sortBy[1] == '-')
      shop.filters.sortBy = shop.filters.sortBy.substr(1, shop.filters.sortBy.length-1);
    if ($(this).attr('data-sort') != '-' && shop.filters.sortBy[0] == '-')
      shop.filters.sortBy = shop.filters.sortBy.substr(1, shop.filters.sortBy.length-1);
  })
</script>

